.bookmarks {
  @include BoxSizing();
  @include BoxShadow(5px 10px 8px $c-dustyGrey);
  padding: 10px 20px 20px 20px;
  width: 350px;
  &__wrapper {
    @include Flexx();
    @include Justifycontent(space-between);
    padding: 15px 0;
    border-bottom: 1px solid $c-dustyGrey;
  }
}

@media only screen and (max-width: 1400px) {
  .bookmarks {
    width: 100%;
  }
}
