.projects {
  @include Flexx();
  @include Shape(75%, 95%);
  @include Justifycontent(space-between);
  @include AlignItem(flex-end);
  position: relative;
  flex-wrap: wrap;
  &__graphic {
    @include Position(absolute, 400px, initial, 40px, initial);
  }
  &__picture {
    @include Position(absolute, -50px, initial, initial, 0);
  }
  &__wrapper {
    @include Flexx();
    @include Justifycontent(space-between);
    @include Shape(initial, 100%);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5%;
  }
  &__square {
    @include Flexx();
    @include Justifycontent(space-between);
    position: relative;
    width: 25%;
    margin-top: 30px;
  }
  &__square::after {
      content: "";
      display: block;
      padding-bottom: 75%;
  }
  &__container {
    @include Flexx();
    @include Justifycontent(flex-end);
    @include Position(absolute, 0, initial, initial, 3px);
    @include Shape(100%, 100%);
    @include BoxShadow(2px 2px 6px 0 $c-dustyGrey);
    background-color: $c-white;
  }
  &__box {
    @include Flexx();
    @include Justifycontent(flex-end);
    @include Shape(100%, 100%);
    padding: 3%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
  }
  &__gradient {
    @include Position(absolute, 0, initial, 0, initial);
    @include Shape(100%, 100%);
    opacity: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#7ed3c174), to(#3ddbce74));
    background-image: -o-linear-gradient(left, #7ed3c174, #3ddbce74);
    background-image: linear-gradient(to right, #7ed3c174, #3ddbce74);
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  &__gradient:hover {
    opacity: 1;
  }
  &__title {
    @include Font($font-x, initial, initial, $Outfit, $c-white);
    font-weight: 700;
    &--margin {
      margin-top: 50px;
      font-weight: 500;
    }
    &--color {
      color: $c-black;
      font-weight: 500;
    }
  }
  &__name {
    @include Font($font-standard, initial, initial, $Outfit, $c-black);
  }
  &__image {
    @include Shape(100%, 100%);
  }
  &__figure {
    @include Flexx();
    @include Justifycontent(flex-end);
    @include AlignItem(center);
    @include Shape(14%, 100%);
    background-color: $c-white;
  }
  &__icon {
    @include Shape(auto, 10%);
  }
}

@media only screen and (max-width: 1400px) {
  .projects {
    margin-top: 60px;
    &__graphic,
    &__picture {
      display: none;
    }
    &__description {
      height: 155px;
      font-size: $font-m;
    }
    &__picture {
      left: 45%;
    }
    &__title {
      font-size: $font-standard;
    }
    &__text {
      font-size: $font-m;
    }
    &__square {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .projects {
    &__picture {
      width: 150px;
      left: -20px;
    }
    &__description {
      display: none;
    }
    &__title {
      font-size: $font-m;
      &--margin {
        margin-top: 20px;
      }
    }
    &__description,
    &__name {
      font-size: $font-m;
    }
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    @include Justifycontent(flex-start);
    height: initial;
    &__picture {
      width: 150px;
      left: -20px;
    }
    &__description {
      display: none;
    }
    &__square {
      width: 100%;
      margin-top: 20px;
    }
    &__wrapper {
      gap: 0;
    }
  }
}
