.profileOne {
  @include Flexx();
  @include Shape(200px, 350px);
  position: relative;
  background-image: linear-gradient(to right, $c-waterLeaf, $c-jaggedIce);
  border-radius: 10px;
}

.profileTwo {
  @include Flexx();
  @include Justifycontent(flex-end);
  @include Shape(322px, 100%);
  position: relative;
  background-image: linear-gradient(to right, $c-waterLeaf, $c-jaggedIce);
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile {
  background-color: $c-white;
  &__imageOne {
    @include Position(relative, initial, initial, initial, -100px);
    height: 320px;
    width: 220px;
    z-index: 2;
  }
  &__imageTwo {
    @include Position(relative, 150px, initial, initial, 22px);
    height: 320px;
    width: 220px;
    z-index: 2;
  }
  &__graphicPictureOne {
    @include Position(absolute, initial, 70%, 30px, initial);
    width: 300px;
  }
  &__graphicPictureTwo {
    @include Position(absolute, initial, 350px, 160px, initial);
    width: 300px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 1400px) {
  .profileOne {
    width: 100%;
  }
  .profileTwo {
    margin: 20px 0;
  }
  .profile__graphicPictureOne {
    right: 250px;
    width: 250px;
  }
  .profile__graphicPictureTwo {
    @include Position(absolute, initial, -90px, 75px, initial);
    width: 250px;
    z-index: 1;
  }
}

@media only screen and (max-width: 800px) {
  .profileTwo {
    height: 150px;
  }
  .profile__graphicPictureOne {
    right: 0px;
    width: 200px;
  }
  .profile__imageOne {
    @include Shape(145px, 100px);
    @include Position(absolute, initial, 0, initial, -45px);
    z-index: 1;
  }
  .profile__imageTwo {
    @include Shape(145px, 100px);
    @include Position(relative, 50px, initial, initial, -98px);
    z-index: 1;
  }
  .profile__graphicPictureTwo {
    width: 150px;
    right: -50px;
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    width: 100%;
  }
}
