.blog {
  @include Flexx();
  @include Justifycontent(space-between);
  @include Shape(100%, 100%);
  margin: 20px;
  position: relative;
  &__main {
    @include Flexx();
    width: 95%;
  }
  &__wrapperOne {
    flex: 50%;
    position: relative;
  }
  &__image {
    @include Position(absolute, -8%, initial, initial, -15px);
  }
  &__wrapperTwo {
    @include Flexx();
    @include AlignItem(flex-end);
    flex: 50%;
    flex-direction: column;
    position: relative;
  }
  &__picture {
    @include Position(absolute, initial, 80%, initial, 0);
    height: 350px;
    z-index: 0;
  }
  &__information {
    @include Flexx();
    @include Justifycontent(flex-end);
    @include Shape(20%, 350px);
    @include BoxSizing();
    flex-direction: column;
    padding: 20px;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1400px) {
  .blog {
    flex-direction: column;
    &__main {
      flex-direction: column;
    }
    &__image {
      display: none;
    }
    &__information {
      width: 100%;
    }
    &__wrapperTwo {
      @include AlignItem(flex-start);
    }
    &__picture {
      @include Position(absolute, initial, 0px, initial, -20px);
      height: 300px;
      z-index: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog {
    &__image {
      height: 200px;
    }
    &__picture {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .blog {
    width: 100%;
    &__information {
      width: 100%;
      padding: 20px 0 0 0;
    }
  }
}
