.paragraph {
  &__text {
    @include Font($font-l, initial, initial, $fontRoboto, $c-dustyGrey);
  }
  &__name {
    @include Font($font-l, initial, initial, $fontRoboto, $c-halfBaked);
  }
}

@media only screen and (max-width: 600px) {
  .paragraph {
    &__text,
    &__name {
      font-size: $font-m;
    }
  }
}