body, html {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
}

@-webkit-keyframes example {
    0%   {opacity: 0; top: 100px;}
    20%   {opacity: 0;  top: 100px;}
    100% {opacity: 1;  top: 0px;}
}

@keyframes example {
    0%   {opacity: 0; top: 100px;}
    20%   {opacity: 0;  top: 100px;}
    100% {opacity: 1;  top: 0px;}
}