$c-white: #FFFFFF;
$c-black: #000000;
$c-dustyGrey: #9c9c9c;
$c-halfBaked: #7dc9c9;
$c-waterLeaf: #98e6df;
$c-jaggedIce: #b6e4e0;

$fontRoboto: 'Roboto', sans-serif;
$Outfit: 'Outfit', sans-serif;

$font-full: 70px;
$font-xxl: 45px;
$font-x: 25px;
$font-standard: 20px;
$font-l: 16px; 
$font-m: 13px;
