.title {
  margin-bottom: 30px;
  &__image {
    @include Shape(40px, 40px);
  }
  &__text {
    @include Font($font-x, initial, initial, $Outfit, $c-black);
  }
  &__name {
    color: $c-halfBaked;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    &__text {
      font-size: $font-l;
    }
    &__image {
      @include Shape(30px, 30px);
    }
  }
}
