.lds {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Shape(100vh, 100%);
    background-color: $c-halfBaked;
    &__ring {
      @include Flexx();
      @include Justifycontent(center);
      @include AlignItem(center);
    }
    &__ring::after {
      content: " ";
      @include Shape(50px, 50px);
      display: block;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid $c-white;
      border-color: $c-white transparent $c-white transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
  
  @-webkit-keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-dual-ring {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  