.contact {
  @include Flexx();
  @include Justifycontent(space-between);
  @include Shape(initial, 100%);
  min-height: 100vh;
  flex-direction: column;
  margin: 20px;
  position: relative;
  &__main {
    @include Flexx();
    @include Shape(70%, 95%);
  }
  &__wrapperOne {
    flex: 60%;
    position: relative;
  }
  &__image {
    @include Position(absolute, 40%, initial, initial, 0);
  }
  &__form {
    @include BoxSizing();
    @include BoxShadow(2px 5px 4px $c-dustyGrey);
    flex: 30%;
    height: 80%;
    padding: 10px 20px 20px 20px;
  }
  &__information {
    @include Flexx();
    @include Justifycontent(flex-end);
    flex-direction: column;
  }
  &__wrapperTwo {
    @include Flexx();
    @include AlignItem(flex-end);
    flex: 70%;
    flex-direction: column;
  }
  &__profile {
    @include Flexx();
    flex-direction: column;
    height: 70%;
  }
  &__box {
    @include Flexx();
    @include Justifycontent(space-between);
    @include AlignItem(flex-end);
    height: 30%;
    position: relative;
  }
}

@media only screen and (max-width: 1400px) {
  .contact {
    @include Shape(100%, 100%);
    flex-direction: column;
    &__profile {
      width: 100%;
    }
    &__wrapperOne {
      margin-bottom: 35px;
    }
    &__main {
      flex-direction: column;
    }
    &__image {
      display: none;
    }
    &__form {
      height: 80%;
    }
    &__information {
      @include Justifycontent(center);
    }
    &__box {
      @include Flexx();
      @include Justifycontent(space-between);
      @include AlignItem(flex-start);
      margin-top: 80px;
      height: 100%;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    &__image {
      width: 100px;
    }
    &__box {
      margin-top: 30px;
    }
  }
}