.skills {
  @include BoxSizing();
  flex: 50%;
  height: 100%;
  position: relative;
  &__graphicPicture {
    @include Position(absolute, initial, -60px, 0, initial);
    width: 300px;
  }
  &__wrapper {
    @include Flexx();
    @include Justifycontent(center);
    @include BoxShadow(2px 5px 4px $c-dustyGrey);
    flex-direction: column;
    background-image: linear-gradient(to right, $c-waterLeaf, $c-jaggedIce);
    height: 300px;
    border-radius: 10px;
    margin: 40px 0 30px;
  }
  &__bar {
    @include Flexx();
    @include Justifycontent(space-between);
    @include Position(relative, initial, initial, -8px, initial);
    margin: 10px 20px 0px 20px;
  }
  &__percent {
    width: 80%;
  }
  &__text {
    @include Font($font-l, 0, initial, $fontRoboto, $c-white);
  }
  &__line {
    @include BoxShadow(2px 5px 4px $c-dustyGrey);
    display: block;
    height: 8px;
    background-color: $c-white;
    border-radius: 2px;
    &--percentTwo {
      width: 80%;
    }
    &--percentThree {
      width: 100%;
    }
    &--percentOne {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .skills {
    margin: 0 0 0 85px;
    &__graphicPicture {
      right: 0;
    }
  }
}

@media only screen and (max-width: 800px) {
  .skills {
    &__graphicPicture {
      width: 200px;
    }
    &__percent {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .skills {
    padding: 0;
    margin: 0;
    &__graphicPicture {
      width: 150px;
    }
    &__text {
      font-size: $font-m;
    }
    &__line {
      height: 5px;
    }
  }
}
