.tools {
  @include Flexx();
  @include Justifycontent(space-between);
  @include AlignItem(flex-end);
  @include BoxSizing();
  width: 95%;
  &__picture {
    @include Position(absolute, initial, -30px, -35%, initial);
    height: 200px;
  }
  &__description {
    @include Flexx();
    flex-direction: column;
    flex: 30%;
  }
  &__wrapper {
    @include Flexx();
    @include AlignItem(center);
    flex-wrap: wrap;
    flex: 70%;
    background-image: linear-gradient(to right, $c-waterLeaf, $c-jaggedIce);
    z-index: 1;
    border-radius: 10px;
  }
  &__technology {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Shape(70px, 70px);
    @include BoxShadow(2px 5px 4px $c-dustyGrey);
    background-color: $c-white;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  &__technology:hover .tools__image {
    animation: mymove 0.5s linear;
  }
  &__boxImage {
    @include Flexx();
    @include Justifycontent(center);
    @include Shape(30px, 30px);
    margin-bottom: 40px;
  }
  &__image {
    @include Position(relative, auto, initial, 0, initial);
    width: 35px;
  }
  &__name {
    @include Font($font-m, initial, pointer, $fontRoboto, $c-dustyGrey);
    @include Position(absolute, auto, initial, 35px, initial);
    text-align: center;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1400px) {
  .tools {
    @include Justifycontent(flex-start);
    @include AlignItem(flex-start);
    flex-direction: column;
    &__wrapper {
      margin-top: 20px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .tools {
    &__picture {
      display: none;
    }
  }
}

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
@keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}