.navbar {
  @include Flexx();
  width: 150px;
  min-height: 100vh;
  background-image: linear-gradient(to right, $c-waterLeaf, $c-halfBaked);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 20px 0 20px 20px;
  z-index: 1;
  &__list {
    @include Flexx();
    @include AlignItem(center);
    @include Justifycontent(center);
    @include Shape(600px, 150px);
    flex-direction: column;
    padding: 0;
    list-style-type: none;
  }
  &__image {
    @include Shape(80px, 80px);
  }
  &__item {
    padding: 0;
  }
  &__icon {
    @include Shape(35px, 35px);
    margin: 10px;
  }
  &__line {
    display: block;
    width: 100%;
    border: 1px solid $c-white;
    background-color: $c-white;
    margin: 20px 0 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 55px;
    margin: 5px 5px 5px 5px;
    &__image {
      @include Shape(40px, 40px);
    }
    &__list {
      height: 430px;
    }
    &__icon {
      @include Shape(20px, 20px);
      margin: 10px;
    }
  }
}
