.partners {
  @include Flexx();
  @include Justifycontent(flex-end);
  @include BoxSizing();
  @include Shape(70%, 350px);
  flex-direction: column;
  margin-top: 80px;
  position: relative;
  margin-right: 5%;
  &__image {
    @include Position(absolute, initial, 0, initial, -25px);
  }
}

@media only screen and (max-width: 1400px) {
  .partners {
    width: 100%;
    &__image {
      @include Position(absolute, initial, 0, initial, 0);
    }
  }
}

@media only screen and (max-width: 600px) {
  .partners {
    margin-top: 3px;
    padding: 20px 0 0 0;
    &__image {
      @include Position(absolute, initial, 0, initial, -15px);
      height: 100px;
    }
  }
}
