.passionate {
  @include Flexx();
  @include Justifycontent(space-between);
  margin: 20px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  &__wrapper {
    @include Flexx();
    @include Justifycontent(space-between);
    width: 95%;
    position: relative;
  }
  &__main {
    flex: 40%;
    margin-right: 100px;
  }
  &__container {
    @include Flexx();
    @include Shape(50%, 100%);
    flex-direction: column;
  } 
  &__box {
    width: 70%;
  }
  &__aboutMe {
    @include Flexx();
    @include Justifycontent(flex-end);
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $c-dustyGrey;
  }
  &__figure {
    @include Flexx();
    @include Justifycontent(center);
    @include AlignItem(center);
    @include Position(relative, initial, initial, 50px, initial);
    height: 182px;
  }
  &__image {
    @include Shape(35px, 35px);
  }
  &__graphicImage {
    width: 200px;
  }
  &__information {
    @include Flexx();
    @include Justifycontent(flex-end);
    flex-direction: column;
    height: 50%;
  }
  &__frame {
    @include Flexx();
    @include Justifycontent(space-between);
    @include AlignItem(center);
    @include BoxShadow(2px 5px 4px $c-dustyGrey);
    width: 500px;
    margin-top: 100px;
    color: $c-white;
    flex-wrap: wrap;
    padding-left: 20px;
  }
  &__icon {
    @include Shape(70px, 150px);
  }
  &__picture {
    @include Position(absolute, initial, 20px, initial, 0);
    width: 200px;
  }
}

@media only screen and (max-width: 1400px) {
  .passionate {
    flex-direction: column;
    &__wrapper {
      flex-direction: column;
    }
    &__frame {
      @include Justifycontent(center);
      @include AlignItem(center);
      padding: 0;
      margin: 100px 0 10px 0;
      width: calc(100% - 2px);
    }
    &__main {
      margin: 0;
    }
    &__information {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .passionate {
    &__picture {
      @include Position(absolute, 50%, initial, 50%, 0);
      width: 100px;
      transform: translate(-50%, -50%);
    }
    &__icon {
      @include Shape(50px, 120px);
    }
  }
}

@media only screen and (max-width: 600px) {
  .passionate {
    &__image {
      @include Shape(25px, 25px);
    }
  }
}