.freelancer {
    flex: 40%;
    margin-left: 50px;
    position: relative;
    &__wrapper {
        @include Flexx();
        @include Justifycontent(flex-end);
        margin-top: 30px;
        flex-wrap: wrap;
        position: relative;
    }
    &__picture {
        @include Position(absolute, -100px, initial, initial, 0);
        height: 350px;
    }
    &__image {
        @include Position(absolute, initial, -10%, initial, 0);
    }
    &__button {
        @include Shape(50px, 150px);
        @include BoxShadow(2px 5px 4px $c-dustyGrey); 
        @include Font($font-l + 1, initial, pointer, $fontRoboto, $c-white);
        -webkit-transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        margin: 20px 0 0 20px;
        background-image: linear-gradient(to right, $c-waterLeaf , $c-dustyGrey);
        z-index: 1;
        opacity: 0.5;
        border: none;
    }
    &__button:hover {
        opacity: 1;
    }    
}

@media only screen and (max-width: 1400px) { 
    .freelancer {
        margin: 0;
        &__picture,
        &__image {
            display: none;
        }
    }
}

@media only screen and (max-width: 800px) { 
    .freelancer {
        &__button {
            @include Shape(35px, 100px);
            font-size: $font-m;
        }
    }
}