.post {
  @include Flexx();
  width: 100%;
  margin-top: 50px;
  position: relative;
  z-index: 2;
  &__boxLoader {
    @include Shape(220px, 330px);
    background-color: $c-white;
  }
  &__image {
    @include Shape(220px, 330px);
    background-image: url("../../assets/portfolio_case_05.png");
    background-repeat: no-repeat;
  }
  &__wrapper {
    @include BoxSizing();
    padding-left: 20px;
  }
  &__container {
    margin: 20px 0;
  }
  &__box {
    width: 100%;
    margin-top: 20px;
    text-align: right;
  }
}

@media only screen and (max-width: 1400px) {
  .post {
    @include AlignItem(center);
    @include Justifycontent(center);
    flex-direction: column;
    &__image,
    &__boxLoader {
      @include Shape(150px, 230px);
    }
    &__wrapper {
      padding: 0;
      margin: 20px 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .post {
    &__image,
    &__boxLoader {
      @include Shape(100px, 160px);
    }
    &__wrapper {
      font-size: $font-m;
    }
  }
}
