.aboutMe {
    @include Shape(initial, 100%);
    @include Flexx();
    @include Justifycontent(space-between);
    flex-direction: column;
    min-height: 100%;
    margin: 20px;
    position: relative;
    overflow: hidden;
    &__main {
        @include Flexx();
        @include Justifycontent(space-between);
        width: 95%;
        position: relative;
    }
    &__container {
        width: 45%;
    }
    &__wrapper {
        @include BoxShadow(2px 5px 4px $c-dustyGrey);
        @include BoxSizing();
        flex: 10%;
        padding: 10px 20px 20px 20px;
        position: relative;
        margin-right: 100px;
    }
    &__image {
        @include Position(absolute, 50%, initial, 80%, initial);
        transform: translate(-50%, -50%);
        z-index: 1;
        height: 300px;
    }
    &__picture {
        @include Position(absolute, initial, 5%, 25px, initial);
    }
    &__bitbucket {
        @include Flexx();
        @include AlignItem(center);
        @include Justifycontent(space-between);
        margin-top: 20px;
    }
    &__box {
        @include Flexx();
        @include Justifycontent(flex-end);
        width: 50%;
    }
    &__icon {
        @include Shape(35px, 35px);
    }
    &__interests {
        @include BoxSizing();
        padding: 0 20px 20px 20px;
        margin: 30px 0;
    }
    &__list {
        @include Flexx();
        flex-direction: column;
    }
    &__item {
        @include Position(relative, -40px, initial, initial , initial);
        @include Font($font-l + 1, initial, initial, $fontRoboto, $c-dustyGrey);
    }
    
}

@media only screen and (max-width: 1400px) { 
    .aboutMe {
        flex-direction: column;
        &__main {
            flex-direction: column;
        }
        &__container {
            width: 100%;
        }
        &__wrapper {
            width: 100%;
        }
        &__image {
            @include Position(absolute, 30px, initial, 75%, initial);
        }
    }
}

@media only screen and (max-width: 800px) { 
    .aboutMe {
        &__image {
            height: 200px;
        }
    }
}

@media only screen and (max-width: 600px) { 
    .aboutMe {
        width: 100%;
        &__picture {
            width: 100px;
        }
        &__interests {
            padding: 0 5px 0 5px;
        }
        &__item {
            @include Position(relative, -25px, initial, initial , initial);
            font-size: $font-m;
        }
        &__image {
            display: none
        }
        &__box {
            margin-left: 0px;
        }
        &__icon {
            @include Shape(25px, 25px);
        }
    }
}


@keyframes example {
    0%   {opacity: 0; top: 100px;}
    20%   {opacity: 0;  top: 100px;}
    100% {background-color: 1;  top: 0px;}
  }