.portfolio {
  @include Flexx();
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  margin: 20px;
  position: relative;
  &__wrapper {
    @include Flexx();
    @include Justifycontent(space-between);
    @include Shape(25%, 95%);
    margin-bottom: 50px;
  }
  &__container {
    @include Flexx();
    flex-direction: column;
  }
  &__box {
    @include Flexx();
    flex-wrap: wrap;
    font-size: $c-dustyGrey;
    color: $c-black;
    margin-top: 30px;
  }
  &__text {
    @include Font($font-l, initial, initial, $fontRoboto, $c-halfBaked);
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1400px) {
  .portfolio {
    &__wrapper {
      height: 100%;
      flex-direction: column;
    }
    &__box {
      margin: 30px 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .portfolio {
    &__text {
      font-size: $font-m;
    }
    &__wrapper {
      @include Justifycontent(flex-start);
      height: 50%;
      margin-bottom: 0;
    }
  }
}
